{% extends "layout_user.html" %}

{% block header %}Edit User{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control" value="{{ form.first_name.value }}" placeholder="Enter first name">
        {% if form.first_name.errors %}
        <div class="text-danger">{{ form.first_name.errors}}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" name="last_name" class="form-control" value="{{ form.last_name.value }}" placeholder="Enter last name">
        {% if form.last_name.errors %}
            <div class="text-danger">{{ form.last_name.errors}}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="user_name" class="form-control" value="{{ form.user_name.value }}" placeholder="Enter username">
        {% if form.user_name.errors %}
            <div class="text-danger">{{ form.user_name.errors}}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" value="{{ form.email.value }}" placeholder="Enter email">
        {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors}}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" name="phone" class="form-control" value="{{ form.phone.value }}" placeholder="Enter phone number">
        {% if form.phone.errors %}
            <div class="text-danger">{{ form.phone.errors}}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">Avatar</label>
        {% if form.avatar.value %}
            <img src="{{ form.avatar.value.url }}" alt="Avatar" class="img-fluid mb-3" style="max-width: 200px;">
            <input type="file" name="avatar" class="form-control">
            <div class="form-text">You can change the avatar by uploading a new image.</div>
        {% else %}
            <div class="text-muted"> You can upload a new image.</div>
            <input type="file" name="avatar" class="form-control">
        {% endif %}
        {% if form.avatar.errors %}
            <div class="text-danger">{{ form.avatar.errors }}</div>
        {% endif %}
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary">Save Changes</button>
        <a href="{% url 'list_users' %}" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>
{% endblock %}