{% extends "layout.html" %}

{% block header %}Books List{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">{{ book.id }}</th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'detail' book.id %}" class="btn btn-outline-info btn-sm" title="View Book">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <form action="{% url 'delete' book.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm" title="Delete Book">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-end mt-3">
        <a href="{% url 'create' %}" class="btn btn-outline-success btn-lg" title="New Book">
            <i class="bi bi-plus-circle"></i> <span class="h5.5">New Book</span>
        </a>
    </div>
</div>
{% endblock %}

