{% extends "books/layout.html" %}

{% block header %}Books{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for book in books %}
        <div class="col-md-6 mb-4">
            <div class="d-flex border rounded p-3 shadow" style="background-color: #ECF0F1;">
                <div class="me-3">
                    {% if book.cover %}
                    <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-fluid"
                        style="max-width: 100px; max-height: 150px;">
                    {% else %}
                    <img src="/media/covers/default.jpg" alt="Default Cover" class="img-fluid"
                        style="max-width: 100px; max-height: 150px;">
                    {% endif %}
                </div>
                <div class="flex-grow-1">
                    <h4 class="mb-1">
                        <a href="{% url 'detail_book' book.id %}" class="text-decoration-none" style="color: #2C3E50;">
                            {{ book.title }}
                        </a>
                    </h4>
                    <h5 class="mb-1" style="color: #3498DB;">{{ book.author }}</h5>
                    <p class="text-muted mb-1" style="max-width: 350px;">
                        {{ book.description|truncatewords:10 }}
                    </p>
                </div>
                <div class="text-center" style="height: 100px;">
                    <p class="h3 mb-3" style="color:#2C3E50;">{{ book.price }}$</p>
                    {% if book.id in cart_items %}
                    <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center disabled"
                        style="font-size: 14px; padding: 5px 10px; background-color: #BDC3C7; border: none; color: rgb(44, 43, 43);">
                        <i class="bi bi-check2 me-1" style="font-size: 16px;"></i> In cart
                    </a>
                    {% else %}
                    <a href="{% url 'add_to_cart' book.id %}"
                        class="btn btn-danger d-flex align-items-center justify-content-center"
                        style="font-size: 14px; padding: 5px 10px; background-color: #4CAF50; border: none; color: white;">
                        <i class="bi bi-cart me-1" style="font-size: 16px;"></i> Add to cart
                    </a>
                    {% endif %}
                    <div class="d-flex justify-content-end mt-3">
                        <button type="button"
                            class="btn btn-danger btn-sm d-flex align-items-center justify-content-center"
                            title="Delete Book" data-bs-toggle="modal" data-bs-target="#deleteModal{{ book.id }}"
                            style="background-color: #E74C3C; border: none;">
                            <i class="bi bi-trash3"></i> Delete
                        </button>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ book.id }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel{{ book.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="deleteModalLabel{{ book.id }}">Confirm Deletion
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this book?
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'delete_book' book.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger"
                                        style="background-color: #E74C3C; border: none;">Delete</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    style="background-color: #BDC3C7; border: none;">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if books.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First" style="color: #3498DB;">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" style="color: #BDC3C7;">Previous</a>
            </li>
            {% endif %}

            {% for page_num in books.paginator.page_range %}
            {% if books.number == page_num %}
            <li class="page-item active">
                <a class="page-link" style="background-color: #3498DB; border: none;" href="#">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}" style="color: #2C3E50;">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if books.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ books.next_page_number }}" aria-label="Next"
                    style="color: #3498DB;">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" style="color: #BDC3C7;">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
